<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itl.iap.system.provider.mapper.AppVersionControlMapper">


    <!-- 设置所有版本记录不为最新版本 -->
    <update id="setAllRecordNotUpToDate">
        update app_version_control
        set isUpToDate = '0'
        where isUpToDate = '1'
          and systemType = #{systemType};
    </update>
</mapper>
