<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itl.iap.system.provider.mapper.IapSysParameterMapper">


    <select id="pageList" resultType="com.itl.iap.system.api.entity.IapSysParameter">
        SELECT a.id,
               a.code,
               a.name,
               a.dictItemId,
               b.name as dictItemName,
               a.defaultValue,
               a.showValue,
               a.remark,
               a.createBy,
               a.createTime,
               a.updateBy,
               a.updateTime
        FROM iap_sys_parameter a
             left join iap_dict_item_t b
             on b.id = a.dictItemId
             ${ew.customSqlSegment}
    </select>
</mapper>
