<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itl.mes.core.provider.mapper.TInstrumentTypeMapper">

    <update id="updateStandard">
        UPDATE m_device
        SET IS_STANDARD = '0'
        WHERE INSTRUMENT_TYPE_ID = #{instrumentTypeId}
    </update>
</mapper>