<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itl.mes.core.provider.mapper.TProjectMapper">


    <select id="pageList" resultType="com.itl.mes.core.api.entity.TProject">
        SELECT
            a.id,
            a.code,
            a.name,
            b.name as instrumentTypeName,
            a.unit,
            a.digital,
            a.standardDeviation,
            a.createBy,
            a.createTime,
            a.updateBy,
            a.updateTime
        FROM
            t_project a
            LEFT JOIN t_instrument_type b
            on b.id = a.instrumentTypeId
            ${ew.customSqlSegment}
    </select>
</mapper>