<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itl.mes.me.provider.mapper.ActionOperationMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.itl.mes.me.api.entity.ActionOperation" id="actionOperationMap">
        <result property="order" column="ao_order"/>
        <result property="desc" column="ao_desc"/>
        <result property="dataCollectionGroupId" column="Data_collection_group_id"/>
        <result property="actionId" column="action_id"/>
        <result property="operationId" column="operation_id"/>
    </resultMap>
<select id="find" resultType="java.util.HashMap">
    select
            me_operation.OPERATION,
            me_action_operation.ao_desc,
            me_action_operation.ao_order,
            m_data_collection.name
    from me_action_operation
            LEFT join m_data_collection on m_data_collection.id=me_action_operation.Data_collection_group_id
            LEFT join me_operation ON me_operation.id = me_action_operation.operation_id
    where me_action_operation.action_id=#{id}
</select>

</mapper>
